* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #222222;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 50%;
    margin-right: 10px;
}

.balance {
    font-size: 18px;
}

.game-section {
    padding: 20px;
}

.game-buttons button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.game-info {
    margin-top: 20px;
}

.game-options {
    padding: 20px;
}

.game-type button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.game-type button.selected {
    background-color: #3e8e41;
}

.game-levels button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.game-levels button.selected {
    background-color: #3e8e41;
}

.game-tables {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.table {
    background-color: #222222;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}

.table p {
    margin: 5px 0;
}

.table button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.table button.fast {
    background-color: #ffc107;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #222222;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .user-info {
        margin-top: 10px;
    }

    .game-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .game-buttons button {
        margin-bottom: 10px;
    }

    .game-type {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .game-type button {
        margin-bottom: 10px;
    }

    .game-levels {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .game-levels button {
        margin-bottom: 10px;
    }

    .game-tables {
        flex-direction: column;
        align-items: center;
    }

    .table {
        width: 100%;
        margin-bottom: 20px;
    }
}