/* Основные стили */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.header h1 {
    text-align: center;
    color: white;
    background-color: #4CAF50;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: black;
    transition: color .3s ease-in-out;
}

nav a:hover {
    color: #4CAF50;
}

main section {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #4CAF50;
    color: white;
}

form label,
form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: #3e8e41;
}