* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.header {
    text-align: center;
    padding: 50px 0;
    background-color: #ffc107;
    color: white;
}

.main-content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.features ul {
    list-style-type: disc;
    padding-left: 20px;
}

.install-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #2ca8ed;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.install-button:hover {
    background-color: #0d6efd;
}

.footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}